body {
    background-color: #D3D3D3; /* Cor de fundo da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

#wrapper {
    width: 90%; /* Largura de 90% da tela */
    margin: 0 auto; /* Centraliza na horizontal */
    background: white; /* Mantém o fundo branco para o conteúdo */
    padding: 20px; /* Adiciona espaçamento interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
}